.vscode
*.pyc
*.npy
*.npz
*.tsv.gzip
*.gz
*.txt
*.csv
*.tsv
*.7z
*.zip
*.rar
*.pkl
*.json
*.pth
*.xlsx
*.log
out
outputs/*
!outputs/.keep
cache_dir
wandb
log
runs
web_app/static/rxn_fig/*svg
web_app/static/table/*csv
dataset/source_dataset/uspto_org_xml
!paper_data/USPTO_condition_frag_analysis_results/*
!preprocess_script/*.txt
!preprocess_script/reaxys_script/qurey_file.zip
!dataset/source_dataset/USPTO_condition_final/pistachio_rxnclass2name.json
!preprocess_script/check_data/frag_cnt_nubmer_10000.txt
!preprocess_script/pistachio_rxnclass2name.json
!preprocess_script/uspto_script/condition_classfication_data
!dataset/source_dataset/Reaxys_total_syn_condition_final/*
!test_files/*
dataset/source_dataset/Reaxys_total_syn_condition_final/Reaxys_total_syn_condition.csv
!dataset/source_dataset/USPTO_suzuki_final/*
!preprocess_script/reaxys_script/qurey_file/*