# vim swap files
[._]*.s[a-v][a-z]
[._]*.sw[a-p]
[._]s[a-v][a-z]
[._]sw[a-p]

# output
*.json
*.txt

# data
*.pkl
*.npz
pistachio

# checkpoints
model/
wandb/

# profiles
profile*

# python
__pycache__/
